@import "../../styles/variables";
@import "../../styles/breakpoints";

.citacaoSection {
    display: flex;
    background-color: $brand-dark-blue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    height: 50vh;
    width: 100%;

    @media (max-width: $desktop_sm) {
        padding: 4rem 1em;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 55%;
        max-width: 1440px;

        &__title {
            font-size: $title-size;
            font-weight: 900;
            color: $text-light;
            text-align: center;
            position: relative;
            text-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);

            @media (max-width: $desktop_sm) {
                font-size: 2rem;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 70px;
                height: 70px;
                top: -40px;
                left: -40px;
                background-image: url('/assets/abreAspas.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @media (max-width: $desktop_sm) {
                    top: -70px;
                    left: -25px;
                }
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 70px;
                height: 70px;
                bottom: -30px;
                right: 0;
                background-image: url('/assets/fechaAspas.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @media (max-width: $desktop_sm) {
                    bottom: -55px;
                }
            }
        }
    }
}