// dark mode

$brand-dark-blue: rgb(0, 14, 15);
$brand-light-blue: rgb(0, 43, 115);

$brand-golden: rgb(214, 128, 3);
$brand-red: rgb(127, 5, 37);

$text-light: rgba(244, 244, 245, 1);
$text-dark: rgba(161, 161, 170, 1);

$color-complements: rgb(60, 131, 255);

$card-hover: rgba(113, 113, 119, 0.1);
$link-hover: rgb(193, 224, 236);
$link-active: rgba(119, 197, 252, 1);

// light mode