$brand-dark-blue: #002259;
$brand-light-blue: #0041b3;
$brand-golden: #fcab04;
$brand-red: #800022;

$text-light: rgb(236, 236, 236);
$text-dark: rgb(29, 29, 29);

$color-complements: #0098ff;

$band-blue-50: #e9f8ff;
$band-blue-100: #6bdaff;
$band-blue-200: #0053ff;

$brand-golden-50: #fffcea;
$brand-golden-100: #ffde48;
$brand-golden-200: #b95a04;

$brand-red-50: #ffeef3;
$brand-red-100: #ff8baa;
$brand-red-200: #e7003d;

$border-light: rgba(29, 29, 29, .2);