@import '../../styles/variables';
@import '../../styles/breakpoints';


.channelSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3em;
    padding: 4em 0;
    width: 100%;
    max-width: 1440px;

    &__content {
        display: flex;
        flex-direction: column;
        grid-column: 1;
        padding-left: 8em;

        &__tag {
            font-size: 24px;
            font-family: brother-1816, sans-serif;
            line-height: 25px;
            color: $text-dark;
            margin-bottom: 0.5em;
            display: flex;
            column-gap: .3em;

            &__icon {
                color: $brand-red;
                font-size: 2em;
            }
        }

        h2 {
            font-size: 32px;
            font-family: brother-1816, sans-serif;
            line-height: 35px;
            color: $text-dark;
            margin-bottom: .5em;

            span {
                background: linear-gradient(90deg, rgb(0, 43, 115) 0%, rgb(127, 5, 37) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }
        }

        P {
            font-size: 18px;
            font-weight: 500;
            font-family: "Spectral", serif;
            line-height: 25px;
            color: $text-dark;
            margin-bottom: 1.5em;
        }

        &__video {
            margin-bottom: 2em;
        }

        h3 {
            font-size: 20px;
            letter-spacing: -1px;
            font-weight: 300;
            font-family: brother-1816, sans-serif;
            color: $text-dark;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        grid-column: 2;
    }
}