@import '../../styles/variables';
@import '../../styles/breakpoints';

.footer {
    background-color: $text-dark;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        &__lvtext {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: .5em;
        }

        p {
            color: $text-light;
            font-family: "Spectral", serif;
            font-size: .8em;
            font-weight: 400;
            letter-spacing: 0.03em;
        }
    }
}
