@import '../../styles/variables';
@import '../../styles/breakpoints';

.footer {
    background-color: $text-dark;
    width: 100%;
    display: flex;
    padding: 1em 0;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2em;
        width: 100%;


        @media (max-width: $desktop_sm) {
            flex-direction: column;
        }

        &__termo {
            display: flex;
            flex-direction: column;
            color: $text-light;
            width: 50%;

            @media (max-width: $desktop_sm) {
                margin-bottom: 0.5em;
                width: 100%;
            }

            p {
                color: $text-light;
                font-family: "Spectral", serif;
                font-size: .8em;
                font-weight: 300;
                letter-spacing: 0.03em;

                @media (max-width: $desktop_sm) {
                    text-align: center;
                }
            }

            &__link {
                color: $text-light;
                text-decoration: underline;
                font-family: "Spectral", serif;
                font-size: 0.8em;
                margin-top: 0.5em;
                align-self: start;

                @media (max-width: $desktop_sm) {
                    text-align: center;
                    align-self: center;
                    margin-top: 1rem;
                }

                &:hover {
                    color: $color-complements;
                }
            }
        }

        &__lvtext {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            gap: .5em;
            height: auto;

            @media (max-width: $desktop_sm) {
                margin-top: 1em;
                flex-direction: column;
                text-align: center;
                margin-top: 1.5em;
            }

            p {
                color: $text-light;
                font-family: "Spectral", serif;
                font-size: .7em;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin-top: 3px;
                align-self: flex-end;
            }

            a {
                display: flex;
                align-self: flex-start;

                @media (max-width: $desktop_sm) {
                    align-self: center;
                }
            }
        }
    }
}