@import '../../styles/variables';
@import '../../styles/breakpoints';

// Para uso no formulário
.button {
    align-items: center;
    background-color: $brand-golden;
    border-radius: 0.5em;
    color: $text-dark;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    padding: 0.3em 1em;
    text-decoration: none;
    transition: transform 0.4s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);

    }
}

// Para uso em fundo claro
.button__primary {
    align-items: center;
    background: linear-gradient(90deg, rgb(0, 43, 115) 0%, rgb(127, 5, 37) 100%);
    border-radius: 0.5em;
    color: $text-light;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    padding: 0.3em 1em;
    text-decoration: none;
    transition: transform 0.4s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);

    }
}

// Para uso em fundo escuro
.button__secondary {
    align-items: center;
    background-color: $brand-golden;
    border-radius: 0.5em;
    color: $text-dark;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    padding: 0.3em 1em;
    text-decoration: none;
    transition: transform 0.4s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    }
}