@import '../../../styles/variables';
@import '../../../styles/breakpoints';

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;

  @media (max-width: $desktop_sm) {
    width: 100%;
  }

  &__title {
    font-size: $subtitle-size;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2rem;
    color: $text-light;
  }

  &__groupDadosPessoais {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;
    margin-bottom: 2em;

    @media (max-width: $desktop_sm) {
      flex-direction: column;
    }

    &__groupNome {
      display: flex;
      flex-direction: column;
      width: 50%;

      @media (max-width: $desktop_sm) {
        width: 100%;
      }

      label {
        display: block;
        font-size: $text-size;
        color: $text-light;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        font-size: $text-size;
        border: 2px solid $border-light;
        border-radius: 8px;

        &:focus {
          border-color: $brand-golden;
          outline: none;
        }
      }
    }

    &__groupApelido {
      display: flex;
      flex-direction: column;
      width: 50%;

      @media (max-width: $desktop_sm) {
        width: 100%;
      }

      label {
        display: block;
        font-size: $text-size;
        color: $text-light;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        font-size: $text-size;
        border: 2px solid $border-light;
        border-radius: 8px;

        &:focus {
          border-color: $brand-golden;
          outline: none;
        }
      }
    }
  }

  &__groupTipoEvento {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 2em;

    @media (max-width: $desktop_sm) {
      width: 100%;
    }

    label {
      display: block;
      font-size: $text-size;
      color: $text-light;
    }

    select {
      width: 100%;
      padding: 0.5rem;
      font-size: $text-size;
      border: 2px solid $border-light;
      border-radius: 8px;

      &:focus {
        border-color: $brand-golden;
        outline: none;
      }
    }
  }

  &__group {
    margin-bottom: 2rem;
    width: 100%;

    label {
      display: block;
      font-size: $text-size;
      color: $text-light;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      font-size: $text-size;
      border: 2px solid $border-light;
      border-radius: 8px;

      &:focus {
        border-color: $brand-golden;
        outline: none;
      }
    }

    textarea {
      width: 100%;
      padding: 0.5rem;
      font-size: $text-size;
      border: 2px solid $border-light;
      border-radius: 8px;

      &:focus {
        border-color: $brand-golden;
        outline: none;
      }
    }
  }

  &__groupTermos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;

    label {
      font-size: $text-size;
      color: $text-light;

      input {
        margin-right: 0.5rem;
      }
    }
  }

  &__button {
    align-items: center;
    background-color: $brand-golden;
    border-radius: 0.5em;
    color: $text-dark;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    padding: 0.5em 1.3em;
    text-decoration: none;
    transition: transform 0.4s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);

    }
  }
}

.spinner {
  border: 5px solid white;
  border-top: 5px solid $brand-light-blue;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinnerText {
  color: $text-light;
  font-size: $text-size;
  text-align: center;
  margin-top: 0.5em;
}