@import '../styles/variables';
@import '../styles/breakpoints';

.formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $brand-red;
    padding: 8em;

    @media (max-width: $desktop_sm) {
        padding: 8em 1em 2em;
    }

    &__image {
        width: 250px;
        height: auto;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        padding: 2rem 8rem;
        margin: 0 auto;

        @media (max-width: $desktop_sm) {
            padding: 2em 0;
        }

        &__title {
            font-size: $title-size;
            line-height: 32px;
            text-align: center;
            margin-bottom: 2rem;
            color: $text-light;
        }

        p {
            font-family: $font-secondary;
            font-size: $text-size;
            line-height: 1.5;
            text-align: center;
            color: $text-light;
        }
    }

    &__formWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 8rem;

        @media (max-width: $desktop_sm) {
            padding: 0;
        }
    }
}