@import '../styles/variables';
@import '../styles/breakpoints';

.blogPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10em 0;
    margin: 0 auto;
    width: 100%;

    @media (max-width: $desktop_sm) {
        padding: 8em 0 0;
    }


    &__spacer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5em;
        align-items: center;
        margin-bottom: 4em;
        padding: 0 8em;
        width: 100%;
        max-width: 1440px;

        @media (max-width: $desktop_sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            padding: 0 1em;
        }

        &__image {
            grid-column: 1 / span 1;
            width: 100%;
            height: auto;
            align-self: start;

            @media (max-width: $desktop_sm) {
                grid-row: 1;
            }
        }

        &__container {
            grid-column: 2 / span 1;
            display: flex;
            flex-direction: column;
            justify-items: start;
            width: 100%;

            @media (max-width: $desktop_sm) {
                grid-row: 2;
                grid-column: 1 / span 1;
            }

            &__title {
                grid-column: 2 / span 1;
                grid-row: 2;
                justify-self: start;
                text-align: left;
                font-size: 1.6em;
                font-weight: 900;
                color: $text-dark;
                margin-bottom: 0.5em;
                text-transform: uppercase;
            }

            &__text {
                grid-column: 2 / span 1;
                grid-row: 3;
                justify-self: start;
                text-align: left;
                font-size: 1.2em;
                font-weight: 600;
                color: $text-dark;
                font-family: $font-secondary;
                margin-bottom: 2em;
                width: 100%;

                @media (max-width: $desktop_sm) {
                    margin-bottom: 0;
                }
            }

            &__icone {
                grid-column: 2 / span 1;
                grid-row: 1;
                justify-self: start;
            }
        }
    }
}