@import '../../../../styles/variables';
@import '../../../../styles/breakpoints';

.cardLink {
    display: block;
    width: 100%;
    transition: transform 0.4s ease;
    text-decoration: none;
    color: $text-dark;
    border-radius: 8px;
    margin-bottom: 2em;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
    }
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid $border-light;

    @media (max-width: $desktop_sm) {
        padding: 1em;
    }

    &__number {
        font-size: 14px;
        font-weight: 300;
        color: $text-dark;
        border-right: 1px solid $brand-red;
        padding-right: 0.5em;
    }

    &__description {
        font-weight: 500;
        font-family: "Spectral", serif;
        line-height: 25px;
        color: $text-dark;
        width: 100%;
        padding: 0 1em;
    }
}