.swiper {
    padding: 0 0 3em 0;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 70%;
}
.swiper-pagination-bullet-active {
    background-color: rgb(32,50,62);
}
.swiper-button-prev {
    color: rgb(32,50,62);
}
.swiper-button-next {
    color: rgb(32,50,62);
}
@media only screen and (max-width: 599px) and (min-width: 320px) {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}