@import '../../styles/variables';
@import '../../styles/breakpoints';

.heroTop {
    align-items: center;
    background-color: $brand-red;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        @media (max-width: $desktop_sm) {
            grid-template-columns: repeat(1, 1fr);
        }

        &__content {
            display: flex;
            flex-direction: column;
            grid-column: 1;
            padding-left: 8em;
            justify-content: center;

            @media (max-width: $desktop_sm) {
                padding: 8em 1em 4em;
            }

            &__title {
                font-size: $title-size;
                font-weight: 700;
                color: $text-light;
                margin-bottom: 1em;
                
            }

            &__text {
                font-size: $text-size;
                font-weight: 500;
                font-family: $font-secondary;
                line-height: 25px;
                color: $text-light;
                margin-bottom: 1em;
            }
        }

        &__image {
            display: flex;
            grid-column: 2;

            img {
                width: 100%;
                height: auto;
            }

            @media (max-width: $desktop_sm) {
                grid-column: 1;
            }
        }
    }
}