@import "../../styles/variables";
@import "../../styles/breakpoints";

.valoresSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 4em 0;

    @media (max-width: $desktop_sm) {
        padding: 4em 1em;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        width: 100%;
        max-width: 1440px;

        @media (max-width: $desktop_sm) {
            grid-template-columns: repeat(1, 1fr);
            gap: 0em;
        }

        &__content {
            display: flex;
            flex-direction: column;
            grid-column: 1;
            padding-left: 8em;

            @media (max-width: $desktop_sm) {
                padding-left: 0em;
            }

            &__title {
                font-size: $title-size;
                font-family: $font-primary;
                font-weight: 900;
                line-height: 35px;
                color: $text-dark;
                margin-bottom: .5em;

                span {
                    background: linear-gradient(90deg, rgb(0, 43, 115) 0%, rgb(127, 5, 37) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;
                }

            }

            &__subtitle {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 1em;

                @media (max-width: $desktop_sm) {
                    margin-bottom: 4em;
                }
            }

            &__text {
                font-size: $text-size;
                font-weight: 500;
                font-family: $font-secondary;
                line-height: 28px;
                color: $text-dark;
                margin-bottom: 2em;

                @media (max-width: $desktop_sm) {
                    margin-bottom: 4em;
                }
            }

            &__list {
                list-style: none;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    top: -100px;
                    left: -70px;
                    background-image: url('/assets/estrela.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    @media (max-width: $desktop_sm) {
                        top: -65px;
                        left: 35%;
                    }
                }

                &__item {
                    margin-bottom: 1.5em;

                    h4 {
                        font-size: $subtitle-size;
                        font-weight: 600;
                        color: $text-dark;
                        margin-bottom: .5em;
                    }

                    p {
                        font-size: $text-size;
                        font-weight: 500;
                        font-family: $font-secondary;
                        line-height: 28px;
                        color: $text-dark;
                        margin-bottom: 2em;
                    }
                }
            }
        }

        &__image {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (max-width: $desktop_sm) {
                grid-column: 1;
                grid-row: 2;
            }


            img {
                width: 524px;
                max-width: 100%;
                height: auto;
            }

            &__caption {
                font-size: 14px;
                font-weight: 500;
                font-family: $font-secondary;
                color: $text-dark;
                margin-top: .5em;
            }
        }
    }
}