@import "../../styles/variables";
@import "../../styles/breakpoints";

.keenSlider {
    display: flex;
    width: 60%;
    overflow: hidden;
    align-items: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 4em 0;

    @media (max-width: $desktop_sm) {
        width: 100%;
        padding: 0;
    }
}

.slideContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: $brand-golden-50;
    padding: 4em 0;

    @media (max-width: $desktop_sm) {
        padding: 4em 1em;
    }

    &__title {
        font-size: 2em;
        color: $text-dark;
        align-self: center;
    }

    &__text {
        align-self: center;
        font-size: 1.2em;
        font-weight: 500;
        font-family: "Spectral", serif;
        line-height: 1.5em;
        color: $text-dark;
        margin-bottom: 1.5em;
        text-align: center;
        width: 50%;
        margin-top: 1em;

        @media (max-width: $desktop_sm) {
            width: 100%;
        }
    }
}