@import '../../styles/variables';
@import '../../styles/breakpoints';

@import url("https://use.typekit.net/quo2rwy.css");

.bookSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
    align-items: center;
    width: 100%;
    padding: 8em;

    @media (max-width: $desktop_sm) {
        padding: 4em 1em;
        height: auto;
        flex-wrap: wrap;
        justify-content: start;
    }

    background: linear-gradient(rgba(245, 245, 250, 0.6), rgba(230, 230, 235, 1)),
    // overlay escuro
    url('/assets/mrSimbol.svg') center/85% no-repeat;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        max-width: 800px;

        @media (max-width: $desktop_sm) {
            width: 100%;
            margin-bottom: 4em;
        }

        h2 {
            font-size: $title-size;
            margin-bottom: 0.5em;
            color: $text-dark;

            span {
                background: linear-gradient(90deg, rgb(0, 43, 115) 0%, rgb(127, 5, 37) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
            }
        }

        h3 {
            font-size: $subtitle-size;
            margin-bottom: 0.5em;
            color: $text-dark;
            font-weight: 500;
        }

        p {
            font-size: $text-size;
            font-weight: 500;
            font-family: "Spectral", serif;
            line-height: 25px;
            color: $text-dark;
            margin-bottom: 1.5em;
        }
    }

    &__images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1em;
        width: 50%;

        @media (max-width: $desktop_sm) {
            width: 100%;
            flex-direction: column;
            gap: 2em;
        }

        img {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.4s ease;
            cursor: pointer;

            @media (max-width: $desktop_sm) {
                width: 100%;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
            }
        }
    }
}



.buttonIcon {
    width: 2em;
    height: 2em;
}

.containerBook {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    gap: 3em;
    padding: 0 8em;

    @media (max-width: $desktop_sm) {
        padding: 0;
        flex-direction: column;
    }
}