@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.channelSection__cards {
    padding-right: 8em;

    @media (max-width: $desktop_sm) {
            padding: 0;
        }

    &__title {
        font-size: 24px;
        font-family: brother-1816, sans-serif;
        color: $text-dark;
        margin-bottom: 0.5em;

        span {
            background: linear-gradient(90deg, rgb(0, 43, 115) 0%, rgb(127, 5, 37) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
    }

    &__description {
        font-size: 18px;
        font-weight: 500;
        font-family: "Spectral", serif;
        line-height: 25px;
        color: $text-dark;
        margin-bottom: 1.5em;
    }
}